.form {
    width: 40%;
    margin: auto;
    background-color: yellow;
}

.btn:hover {
    border: 2px solid purple;
}

.zone_form {
    border: 2px solid black;
}

.login_with {
    border: 1px solid purple;
}

.body-table {
    background-color: white;
    border-bottom: 3px solid gray;
}